<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 开启一级缓存 -->
    <settings>
        <setting name="localCacheScope" value="SESSION"/>
    </settings>
    
    <!-- 别名 -->
    <typeAliases>
        <package name="com.lg.safeapi.entity"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.lg.safeapi.plugins.SqlPlugin"/>
    </plugins>
</configuration>